<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
<body>
   {{>navbar}}
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                        <img src="images/404.png" alt="thapa"class="img-fluid" title="thapa technical">
                    </figure>

                    
                        <p> welcome to Thapa technical world app</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="https://www.thapatechnical.com/"target="_thapa"> <button>About Me</button></a>

                    </div>
                   

                </div>

            </div>
        </div>
    </div>
{{>footer}}
    
</body>
</html>